# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.so
*.dll

# Virtual environment
env/
venv/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Logs
*.log

# Python build files
build/
dist/
*.egg-info/

# Environment variables
.env
